{% extends "account/base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "utility/css/allauth_forms.css" %}">
{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block contentclass %}{{ block.super }}allauth_forms{% endblock %}

{% block content %}
<div id="content-main">
    <h1>{% trans "Account Inactive" %}</h1>

    <p>{% trans "This account is inactive." %}</p>
</div>
{% endblock %}
