{% extends "account/base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "utility/css/allauth_forms.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <!-- begin errors -->
  {% if form.errors and not form.non_field_errors %}
  <p class="errornote">
  {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
  </p>
  {% endif %}
  {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <p class="errornote">
      {{ error }}
  </p>
  {% endfor %}
  {% endif %}
  <!-- end errors -->

  <div id="content-main">
    {% if user.is_authenticated %}
      <p class="errornote">
        {% blocktranslate trimmed %}
          You are authenticated as {{ username }}, but are not authorized to
          access this page. Would you like to login to a different account?
        {% endblocktranslate %}
      </p>
    {% endif %}

    <h1>{% trans "Sign In" %}</h1>

    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="btn btn-secondary" style="color:white;" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
{% endblock %}
