{% extends "layouts/django-material-dashboard/base-fullscreen.html" %}
{% load i18n static html_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'utility/css/allauth_forms.css' %}">
{{ form.media }}
{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block title %}{% trans "Signup" %} | {{ site_title|default:_('Maine-eDNA Metadata') }}{% endblock %}

{% block bodyclass %}{{ block.super }} {% endblock %}

{% block contentclass %}{{ block.super }}allauth_forms{% endblock %}

{% block content %}
{% include 'includes/django-material-dashboard/navigation-fullscreen.html' %}
<section>
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
          <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('{% static 'assets/img/illustrations/illustration-signup.jpg' %}'); background-size: cover;">
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
          <div class="card card-plain">
            <div class="card-header">
              <h4 class="font-weight-bolder">
                {% trans "Sign Up" %}
              </h4>
              <div class="row mt-3">
                <p class="mb-0 text-white text-center">
                  {% if messages %}
                  <!-- begin messages -->
                  <p class="mb-0 text-center">{% for message in messages %} {{ message | safe }} {% endfor %}</p>
                  <!-- end messages -->
                  {% endif %}
                  {% if form.non_field_errors %}
                  <!-- START form non field errors -->
                  <div class="alert alert-secondary text-white font-weight-bold" role="alert">{{ form.non_field_errors }}</div>
                  <!-- END form non field errors -->
                  {% endif %}
                  {% if form.errors and not form.non_field_errors %}
                  <!-- begin errors -->
                  <p class="mb-0 text-center">{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}</p>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup_dashboard' %}">
              {% csrf_token %}
              <div class="card-body pt-1">
                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                {% include 'account/includes/form-fields.html' %}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="form-check form-check-info text-start ps-0">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                  <label class="form-check-label" for="flexCheckDefault">
                    I agree the <a href="javascript:;" class="text-dark font-weight-bolder">Terms and Conditions</a>
                  </label>
                </div>
                <div class="row">
                  <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">{% trans "Sign Up" %} &raquo;</button>
                </div>
              </div>
            </form>
          <div class="card-footer text-center pt-0 px-lg-2 px-1">
            <p class="mb-2 text-sm mx-auto">
              Already have an account?
              <a href="{% url 'dashboard_login' %}" class="text-primary text-gradient font-weight-bold">Sign in</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
