{% if widget.is_initial %}
<p class="file-upload">{{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a></p>
    {% if not widget.required %}
    <span class="clearable-file-input">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
            <label class="custom-control-label" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </div>
    </span>
    {% endif %}<br>
    {{ widget.input_text }}:{% endif %}
    <div class="input-group input-group-static mb-4">
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/custom_forms/widgets/attrs.html" %}>{% if widget.is_initial %}
    </div>
{% endif %}
