{% extends "account/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "utility/css/allauth_forms.css" %}">
{{ form.media }}
{% endblock %}

{% block title %}{% trans "Change Password" %} | {{ site_title|default:_('Maine-eDNA Metadata') }}{% endblock %}

{% block bodyclass %}{{ block.super }} {% endblock %}

{% block contentclass %}{{ block.super }}allauth_forms{% endblock %}

{% block content %}
<div id="content-main">
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
</div>
{% endblock %}
