{% for field in form %}
<div class="row">
  {% if field.errors %}
  <div class="alert alert-danger alert-dismissible text-white" role="alert">
    <span class="text-sm">{{ field.label }}: {{ field.errors }}</span>
    <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% if field.help_text %}
  <div class="row">
    <div class="alert alert-info alert-dismissible text-white" role="alert">
      <span class="text-sm help">{{ field.help_text|safe }}</span>
      <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {% endif %}
  {{ field.label_tag }}
  <div class="{% if field.field.widget|field_type == 'CustomRadioSelect' %}form-check form-check-inline{% elif field.field.widget|field_type == 'FieldSiteAllowEditLeaflet' %}col-md-12{% else %}input-group input-group-outline my-3{% endif %}">
    {{ field }}
  </div>
</div>
{% endfor %}