{% load leaflet_tags l10n %}
{% load static %}

<style>{% block map_css %}
    {% if map_width and map_height %}#{{ id_map }} { width: {{ map_width|unlocalize }}; height: {{ map_height|unlocalize }}; }{% endif %}
    {% if not display_raw %}#{{ id_css }} { display: none; }{% endif %}
    {% endblock map_css %}
</style>

<script>
    {% block vars %}var {{ module }} = {};
    {{ module }}.fieldid = '{{ id_css }}';
    {{ module }}.modifiable = {{ modifiable|yesno:"true,false" }};
    {{ module }}.geom_type = '{{ geom_type }}';
    {{ module }}.srid = {{ map_srid|unlocalize }};
    {% endblock vars %}

    function {{ id_map_callback }}(map, options) {
        {{ module }}.field_store_class = {{ field_store_class }};
        {{ module }}.precision = options.djoptions.precision;
        (new {{ geometry_field_class}}({{ module }})).addTo(map);
        {% block callback %}{% endblock callback %}
    };

    {% if target_map %}
    window.addEventListener('map:init', function (e) {
        var target_map = e.detail.map;
        target_map.on('map:loadfield', function (me) {
            if (me.fieldid == 'id_{{ target_map }}') {
                setTimeout(function () {
                    {{ id_map_callback }}(target_map, e.detail.options);
                }, 0);
            }
        });
    }, false);
    {% endif %}
</script>

{% if not target_map %}
{% block map %}
<div class="row mt-2">
    <p> Manually specify your own latitude and longitude values and <strong>Jump there</strong> or add the site through the map.</p>
</div>
<div class="row mt-2">
    {% leaflet_map id_map callback=id_map_callback loadevent=loadevent settings_overrides=settings_overrides %}
</div>
<div id="div_id_latlng" class="row d-flex align-items-center justify-content-center">
    <div class="col-5">
        <label for="id_lat" class="requiredField sr-only">Latitude:<span class="asteriskField">*</span></label>
        <div class="input-group input-group-outline my-3">
            <input type="text" class="form-control" required id="id_lat" placeholder="Latitude (DD WGS84)*">
        </div>
    </div>
    <div class="col-5">
        <label for="id_lng" class="requiredField sr-only">Longitude:<span class="asteriskField">*</span></label>
        <div class="input-group input-group-outline my-3">
            <input type="text" class="form-control" required id="id_lng" placeholder="Longitude (DD WGS84)*">
        </div>
    </div>
    <div class="col-2">
        <input id="manual-latlng" type="button" class="btn btn-info mb-2" value="Jump there">
    </div>
</div>
<div class="row mb-4">
    <div id="div_readonly_id_geom" class="form-group">
        <label for="readonly_id_geom" class="requiredField sr-only">
            JSON Geometry (populates after clicking <span>Jump there</span> or adding site through the map):<span class="asteriskField">*</span>
        </label>
        <input type="text" class="textinput textInput form-control readonly-geom text-secondary bg-light" required id="readonly_id_geom"
               placeholder="JSON Geometry: Populates after clicking [Jump there] or adding site through the map.*">
    </div>
</div>
{% endblock map %}

{% endif %}

{% if display_raw %}
<p>Draw on map or paste a <a
    href="https://geojson.io/"
    title="Validate your GeoJSON Geometry at geojson.io in a new window"
    target="_blank"
    rel="nofollow">valid GeoJSON Geometry</a>:</p>
{% endif %}
<textarea id="{{ id_css }}" class="required django-leaflet-raw-textarea {{ class }}" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>
