{% extends "users/forms.html" %}
{% load i18n static %}

{% block content %}
<br>
{% if samplelabel %}
<h4>{{ samplelabel.max_sample_label_id }}</h4>
<table>
  <tbody>
      <tr>
          <th>{% translate 'Sample Year:' %}</th>
          <td>{{ samplelabel.sample_year }}</td>
      </tr>
      <tr>
          <th>{% translate 'Sample Type:' %}</th>
          <td>{{ samplelabel.sample_material }}</td>
      </tr>
      <tr>
          <th>{% translate 'Min Label:' %}</th>
          <td>{{ samplelabel.min_sample_label_id }}</td>
      </tr>
      <tr>
          <th>{% translate 'Max Label:' %}</th>
          <td>{{ samplelabel.max_sample_label_id }}</td>
      </tr>
      <tr>
          <th>{% translate 'Purpose:' %}</th>
          <td>{{ samplelabel.purpose }}</td>
      </tr>
      <tr>
          <th>{% translate 'Added By:' %}</th>
          <td><a href="{% url 'users:user_detail' samplelabel.added_by.id %}">{{ samplelabel.added_by }}</a></td>
      </tr>
      <tr>
          <th>{% translate 'Date Added:' %}</th>
          <td>{{ samplelabel.added_date }}</td>
      </tr>
  </tbody>
</table>
{% else %}
<p>{% translate 'No labels are available' %}</p>
{% endif %}
<br>
<a class="btn btn-outline-primary" href="{% url 'users:samplelabel' %}">{% translate 'Back to list' %}</a>
<a class="btn btn-outline-primary" href="{% url 'users:samplelabel_detail_export' samplelabel.id %}">{% translate 'Export .csv' %}</a>
<a class="btn btn-warning" href="{% url 'users:samplelabel_samplelabel_add' samplelabel.site_id.id samplelabel.sample_material.id samplelabel.purpose %}">{% translate 'Add another label' %}</a>
{% endblock %}