@font-face {
    font-family: 'Roboto';
    src: url('/fontsRoboto-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fontsRoboto-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fontsRoboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}
