{% load i18n django_tables2 %}
{% block extrahead %}
<script type="text/javascript">
$(document).ready(function($){
    $('#download_button').click(function(){
      var format = $('#export_actions select[name="file_format"]').val();
      var actionsSelect = $('#export_actions select[name="action"]').val();
      var rendered_href = '{% export_url "" %}';
      var dataSelect = $('tr input.action-select');
      var noSelect = $('span.no-selection');
      var arrSelected = [];
      var new_href;
        if (actionsSelect === 'export_action_select') {
          dataSelect.each(function() {
            if ($(this).is(":checked")) {
              arrSelected.push($(this).val());
            }
          });
          if (arrSelected.length > 0) {
            new_href = rendered_href + format + '&_selected_column_ids=' + arrSelected;
            noSelect.hide();
          } else {
            noSelect.show();
            return false;
          }
        } else {
            new_href = rendered_href + format;
        }
        $('#download_button').attr('href', new_href);
    });
});
</script>
{% endblock %}

<div class="actions" id="export_actions">
  {% block actions %}
    {% block actions-form %}
    {% for field in action_form %}{% if field.label %}<label>{{ field.label }} {% endif %}{{ field }}{% if field.label %}</label>{% endif %}{% endfor %}
    {% endblock %}
    {% block actions-submit %}
    <a class="button" title='{% translate "Run the selected action" %}' name="index" id="download_button" href='{% export_url ""%}'>{% translate "Go" %}</a>
    {% endblock %}
    {% block actions-counter %}
    {% if actions_selection_counter %}
        <span class="action-counter" data-actions-icnt="{{ table.page.object_list|length }}">{{ selection_note }}</span>
        {% if table.page.object_list|length != table.rows|length %}
        <span class="all hidden">{{ selection_note_all }}</span>
        <span class="question hidden">
            <a href="#" title='{% translate "Click here to select the objects across all pages" %}'>{% blocktranslate with table.rows|length as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktranslate %}</a>
        </span>
        <span class="clear hidden"><a href="#">{% translate "Clear selection" %}</a></span>
        {% endif %}
    {% endif %}
    <span class="no-selection" style="display:none;">{% translate "No data selected" %}</span>
    {% endblock %}
  {% endblock %}
</div>