{% load i18n django_tables2 %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock stylesheets %}

{% block javascripts %}
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(document).ready(function($){

    $("input.action-select[type='checkbox']").change(function (e) {
        if ($(this).is(":checked")) { //If the checkbox is checked
            $(this).closest('tr').addClass("selected");
            //Add class on checkbox checked
        } else {
            $(this).closest('tr').removeClass("selected");
            //Remove class on checkbox uncheck
        }
    });

    var oTable = $('#result_list').dataTable({
        stateSave: true
    });

    $("div.actions span.question").on("change", function(){
        oTable.$("input[type='checkbox']").attr('checked', $(this.checked));
    });

    $('#download_button').click(function(){
      var format = $('div.actions select[name="file_format"]').val();
      var actionsSelect = $('div.actions select[name="action"]').val();
      var rendered_href = '{% export_url "" %}';
      var dataSelect = $('tr input.action-select');
      var noSelect = $('span.no-selection');
      var arrSelected = [];
      var new_href;
        if (actionsSelect === 'export_action_select') {
          dataSelect.each(function() {
            if ($(this).is(":checked")) {
              arrSelected.push($(this).val());
            }
          });
          if (arrSelected.length > 0) {
            new_href = rendered_href + format + '&_selected_column_ids=' + arrSelected;
            noSelect.hide();
          } else {
            noSelect.show();
            return false;
          }
        } else {
            new_href = rendered_href + format;
        }
        $('#download_button').attr('href', new_href);
    });

});
</script>
{% endblock %}

<div class="actions">
    <!-- start block actions -->
    {% block actions %}
    <!-- start block actions-form -->
    {% block actions-form %}
    {% for field in action_form %}
    {% if field.label %}<label>{{ field.label }}{% endif %}
    {{ field }}
    {% if field.label %}</label>{% endif %}
    {% endfor %}
    {% endblock %}
    <!-- end block actions-form -->
    <!-- start block actions-submit -->
    {% block actions-submit %}
    <a class="btn btn-outline-secondary btn-sm" role="button" title='{% translate "Run the selected action" %}' name="index" id="download_button" href='{% export_url ""%}'>{% translate "Go" %}</a>
    {% endblock %}
    <!-- end block actions-submit -->
    <!-- start block actions-counter -->
    {% block actions-counter %}
    {% if actions_selection_counter %}
    <span class="action-counter" data-actions-icnt="{{ table.page.object_list|length }}">{{ selection_note }}</span>
    {% if table.page.object_list|length != table.rows|length %}
    <span class="all hidden"></span>
    <span class="question hidden">
        <a href="#" class="btn btn-outline-secondary btn-sm" role="button" title='{% translate "Click here to select the objects across all pages" %}'>{% blocktranslate with table.rows|length as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktranslate %}</a>
    </span>
    <span class="clear hidden">
        <a href="#" class="btn btn-outline-secondary btn-sm" role="button">{% translate "Clear selection" %}</a>
    </span>
    {% endif %}
    {% endif %}
    <span class="no-selection" style="display:none;">{% translate "No data selected" %}</span>
    {% endblock %}
    <!-- end block actions-counter -->
  {% endblock %}
    <!-- end block actions -->
</div>