{% extends "layouts/django-material-kit/base.html" %}
{% load static %}

{% block title %} Contact Us {% endblock %}

{% block body_class %} blog-author {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/django-material-kit/navigation-transparent.html' %}

<!-- https://images.unsplash.com/photo-1596808458255-6bb96beb2dbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=80 -->

  <header>
    <div class="page-header min-height-400" style="background-image: url('https://images.unsplash.com/photo-1572884299015-34f1e9311a68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80');" loading="lazy">
      <span class="mask bg-gradient-dark opacity-8"></span>
    </div>
  </header>
  <section class="py-lg-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card box-shadow-xl overflow-hidden mb-5">
            <div class="row">
              <div class="col-lg-5 position-relative bg-cover px-0" style="background-image: url('https://images.unsplash.com/photo-1633712940356-a9fc6c1e220b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=80')" loading="lazy">
                <div class="z-index-2 text-center d-flex h-100 w-100 d-flex m-auto justify-content-center">
                  <div class="mask bg-gradient-dark opacity-8"></div>
                  <div class="p-5 ps-sm-8 position-relative text-start my-auto z-index-2">
                    <h3 class="text-white">Contact Information</h3>
                    <p class="text-white opacity-8 mb-4">Fill out the form and our Team will get back to you.</p>
                    <div class="d-flex p-2 text-white">
                      <div>
                        <i class="fas fa-map-marker-alt text-sm"></i>
                      </div>
                      <div class="ps-3">
                        <a href="https://www.google.com/maps/place/University+of+Maine/@44.901867,-68.6710191,17z/data=!3m1!4b1!4m5!3m4!1s0x4cafb136b8bf012d:0x952e0ddbca41c786!8m2!3d44.901867!4d-68.6688251"><span class="text-sm text-white opacity-8">168 College Ave, Orono, ME 04469</span></a>
                      </div>
                    </div>
                    <div class="mt-4">
                      <a href="https://www.facebook.com/MaineEPSCoR/"><i class="fab fa-facebook btn btn-icon-only btn-link text-white btn-lg mb-0"></i></a>
                      <a href="https://www.instagram.com/maine.epscor"><i class="fab fa-instagram btn btn-icon-only btn-link text-white btn-lg mb-0"></i></a>
                      <a href="https://twitter.com/maineepscor"><i class="fab fa-twitter btn btn-icon-only btn-link text-white btn-lg mb-0"></i></a>
                      <a href="https://github.com/maine-edna/medna-metadata"><i class="fa fa-github btn btn-icon-only btn-link text-white btn-lg mb-0"></i></a>
                      <a href="https://umaine.edu/edna/"><i class="fas fa-home btn btn-icon-only btn-link text-white btn-lg mb-0"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                {% if form.subject.errors %}
                    <ol>
                    {% for error in form.subject.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
                <form class="p-3" id="contact-form" method="post">
                  {% csrf_token %}
                  <div class="card-header px-4 py-sm-5 py-3">
                    <h2>Contact Us</h2>
                    <p class="lead"> For further questions, please fill out and submit this form.</p>
                  </div>
                  <div class="card-body pt-1">
                    <div class="row">
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>Full Name</label>
                          {{ form.full_name }}
                          <!-- <input type="text" name="full_name" class="form-control" placeholder="Full Name" required> -->
                          <!-- <input type="text" class="form-control" placeholder="Full Name"> -->
                        </div>
                      </div>
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>Email</label>
                          {{ form.contact_email }}
                          <!-- <input type="email" name="contact_email" class="form-control" placeholder="example@mail.com" required> -->
                          <!-- <input type="text" class="form-control" placeholder="What you love"> -->
                        </div>
                      </div>
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="input-group input-group-static mb-4">
                          <label>How can we help you?</label>
                          {{ form.contact_context }}
                          <!-- <textarea name="contact_context" class="form-control" id="message" rows="6" placeholder="Describe your problem in at least 250 characters" required></textarea> -->
                          <!-- <textarea name="message" class="form-control" id="message" rows="6" placeholder="I want to say that..."></textarea> -->
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 text-end ms-auto">
                        <button type="submit" value="Submit" class="btn bg-gradient-dark w-100">Send Message</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
