{% load static %}
<!--
=========================================================
* Material Kit 2 - v3.0.0
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit 
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/icon-medna.png' %}">
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">

  <title>
    Maine-eDNA Metadata - Presentation | Maine EPSCoR
  </title>

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/nucleo-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/nucleo-svg.css' %}">
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" rel="stylesheet" type="text/css" href="{% static 'assets/css/material-kit.css' %}">

</head>
<body class="presentation-page bg-gray-200">

  {% include 'includes/django-material-kit/navigation.html' %}

  <header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'assets/img/bg0-dark.jpg' %}')">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">Maine-eDNA Metadata</h1>
            <p class="lead text-white mt-3">A Free & Open Source data management system <br />for tracking environmental DNA samples. </p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <section class="pt-3 pb-4" id="count-stats">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto py-3">
            <div class="text-center">
              <h1 class="text-dark mb-0">What is Maine-eDNA?</h1>
            </div>
            <div class="row">
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-primary"><span id="state1" countTo="300">0</span>+</h1>
                  <h5 class="mt-3">Collaborators</h5>
                  <p class="text-sm font-weight-normal">An effort spanning the state of Maine and multiple years.</p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-primary"> $<span id="state2" countTo="20">0</span>m</h1>
                  <h5 class="mt-3">Awarded Funding</h5>
                  <p class="text-sm font-weight-normal">Growing Maine's workforce by creating opportunities in
                    significant research areas across the state.</p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-primary"><span id="state3" countTo="25">0</span>+</h1>
                  <h5 class="mt-3">Institutions</h5>
                  <p class="text-sm font-weight-normal">Federal, state, private, and public.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5 py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
                <div class="front front-background" style="background-image: url(https://images.unsplash.com/photo-1596466561931-5537af89759f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80); background-size: cover;">
                  <div class="card-body py-7 text-center">
                      <img src="{% static 'assets/img/logo-medna-light.png' %}" class="w-10 mx-auto mt-3" alt="main_logo">
                    <h3 class="text-white">Maine-eDNA</h3>
                    <p class="text-white opacity-8">A state-wide, multi-institutional initiative establishing Maine as a
                      national leader in environmental monitoring, ecological understanding and sustainability of coastal
                      ecosystems through research, education, and outreach.</p>
                  </div>
                </div>
                <div class="back back-background" style="background-image: url(https://images.unsplash.com/photo-1630691431017-04763cfdf785?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1365&q=80); background-size: cover;">
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white">Discover More</h3>
                    <p class="text-white opacity-8"> Maine-eDNA is a 5-year research, education and outreach program
                      that seeks to transform our understanding and sustainability of Maine’s coastal ecosystems via
                      environmental DNA (eDNA) innovations that unlock new scales of inference and new scales of
                      collaboration. </p>
                    <a href="https://umaine.edu/edna/about-us/" target="_blank" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 ms-auto">
            <div class="row justify-content-start">
              <div class="col-md-6">
                <div class="info">
                  <i class="fa fa-dollar-sign text-gradient text-primary text-3xl"></i>
                  <h5 class="font-weight-bolder mt-3">Original Funding Source</h5>
                  <p class="pe-5">RII Track-1: Molecule to Ecosystem: Environmental DNA as a Nexus of Coastal Ecosystem
                    Sustainability for Maine (Maine-eDNA) is supported by National Science Foundation award #OIA-1849227
                    to Maine EPSCoR at the University of Maine.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <i class="fa fa-dna text-gradient text-primary text-3xl"></i>
                  <h5 class="font-weight-bolder mt-3">What is eDNA?</h5>
                  <p class="pe-3">Environmental DNA is the genetic material left behind by organisms in their environments as a
                    byproduct of their natural life and death processes. </p>
                </div>
              </div>
            </div>
            <div class="row justify-content-start mt-5">
              <div class="col-md-6 mt-3">
                <i class="fa fa-globe text-gradient text-primary text-3xl"></i>
                <h5 class="font-weight-bolder mt-3">Global Impact</h5>
                <p class="pe-5">Scientists around the world collect and share DNA data to study medical, agricultural
                  and evolutionary questions. eDNA can help us understand how species — the building blocks of
                  communities — interact to make ecosystems function.</p>
              </div>
              <div class="col-md-6 mt-3">
                <div class="info">
                  <i class="fa fa-database text-gradient text-primary text-3xl"></i>
                  <h5 class="font-weight-bolder mt-3">Data Integration</h5>
                  <p class="pe-3">One of the project’s main goals is to share and integrate the data with other monitoring
                    efforts in Maine’s coastal communities. Massive amounts of eDNA data can be used to study many future
                    questions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5 py-5">
      <div class="container">
        <div class="row">
          <div class="row justify-content-center text-center my-sm-5">
            <div class="col-lg-6">
              <span class="badge bg-primary mb-3">Multi-Institutional</span>
              <h2 class="text-dark mb-0">Growing Partnerships</h2>
              <p class="lead">The strategic plan partnerships have facilitated the growth and inclusion of federal, state,
                public, and private institutions, communities, and individuals. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-sm-5 mt-3">
        <div class="row">
          <div class="col-lg-3">
            <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
              <h3>Strategic Plan Partners</h3>
              <h6 class="text-secondary font-weight-normal pe-3">Working together to revolutionize environmental
                monitoring and ecological understanding of coastal ecosystems</h6>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-md-4 mt-md-0">
                <a href="https://umaine.edu/" target="_blank" >
                  <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                    <img class="w-100 my-auto" src="{% static 'assets/img/screenshots/screenshot-umaine-homepage.png' %}"
                         alt="UMaine" data-bs-toggle="tooltip" data-bs-placement="top" title="University of Maine">
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">University of Maine</h6>
                    <p class="text-secondary text-sm">"The state’s only public research university."</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4 mt-md-0 mt-4">
                <a href="https://www.bigelow.org/" target="_blank" >
                  <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                    <img class="w-100 my-auto" src="{% static 'assets/img/screenshots/screenshot-bigelow-homepage.png' %}"
                         alt="Bigelow" data-bs-toggle="tooltip" data-bs-placement="top" title="Bigelow Laboratory for Ocean Sciences">
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">Bigelow Laboratory for Ocean Sciences</h6>
                    <p class="text-secondary text-sm">"An independent, nonprofit research institute located in East Boothbay, Maine."</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4 mt-md-0 mt-4">
                <a href="https://extension.umaine.edu/" target="_blank" >
                  <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                    <img class="w-100 my-auto" src="{% static 'assets/img/screenshots/screenshot-ce-homepage.png' %}"
                         alt="cooperative extension" data-bs-toggle="tooltip" data-bs-placement="top" title="UMaine Cooperative Extension">
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">Cooperative Extension</h6>
                    <p class="text-secondary text-sm">"Putting university research to work in homes, businesses, farms,
                      and communities — in every corner of Maine."</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4 mt-md-0 mt-3">
                <a href="https://usm.maine.edu/" target="_blank" >
                  <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                    <img class="w-100 my-auto" src="{% static 'assets/img/screenshots/screenshot-usm-homepage.png' %}"
                         alt="usm" data-bs-toggle="tooltip" data-bs-placement="top" title="University of Southern Maine">
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">University of Southern Maine</h6>
                    <p class="text-secondary text-sm">"A Member of the University of Maine System."</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4 mt-md-0 mt-3">
                <a href="https://www.une.edu/" target="_blank" >
                  <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                    <img class="w-100 my-auto" src="{% static 'assets/img/screenshots/screenshot-une-homepage.png' %}"
                         alt="une" data-bs-toggle="tooltip" data-bs-placement="top" title="University of New England">
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">University of New England</h6>
                    <p class="text-secondary text-sm">"Maine’s largest private university."</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4 mt-md-0 mt-3">
                <a href="https://machias.edu/" target="_blank" >
                  <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                    <img class="w-100 my-auto" src="{% static 'assets/img/screenshots/screenshot-umm-homepage.png' %}"
                         alt="umm" data-bs-toggle="tooltip" data-bs-placement="top" title="University of Maine at Machias">
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">University of Maine at Machias</h6>
                    <p class="text-secondary text-sm">"Maine’s Coastal University."</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4 mt-md-0 mt-4">
                <a href="https://www.smccme.edu/" target="_blank" >
                  <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                    <img class="w-100 my-auto" src="{% static 'assets/img/screenshots/screenshot-smcc-homepage.png' %}"
                         alt="smcc" data-bs-toggle="tooltip" data-bs-placement="top" title="Southern Maine Community College" >
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">Southern Maine Community College</h6>
                    <p class="text-secondary text-sm">"Maine’s largest, oldest and most diverse community college."</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4 mt-md-0 mt-4">
                <a href="https://www.colby.edu/" target="_blank" >
                  <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                    <img class="w-100 my-auto" src="{% static 'assets/img/screenshots/screenshot-colby-homepage.png' %}"
                         alt="colby" data-bs-toggle="tooltip" data-bs-placement="top" title="Colby College">
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">Colby College</h6>
                    <p class="text-secondary text-sm">"The 12th oldest liberal arts college in the United States."</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4 mt-md-0 mt-4">
                <a href="https://www.gmri.org/" target="_blank" >
                  <div class="card shadow-lg move-on-hover min-height-160 min-height-160">
                    <img class="w-100 my-auto" src="{% static 'assets/img/screenshots/screenshot-gmri-homepage.png' %}"
                         alt="gmri" data-bs-toggle="tooltip" data-bs-placement="top" title="Gulf of Maine Research Institute" >
                  </div>
                  <div class="mt-2 ms-2">
                    <h6 class="mb-0">Gulf of Maine Research Institute</h6>
                    <p class="text-secondary text-sm">"An independent, objective nonprofit organization."</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- -------- START Content Presentation Docs ------- -->
    <div class="container mt-sm-5">
      <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/desktop.jpg');" loading="lazy">
        <span class="mask bg-gradient-dark"></span>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 ms-lg-5">
              <h4 class="text-white">Built by developers</h4>
              <h1 class="text-white">Complex Documentation</h1>
              <p class="lead text-white opacity-8">From colors, cards, typography to complex elements, you will find the full documentation. Play with the utility classes and you will create unlimited combinations for our components.</p>
              <a href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-kit" class="text-white icon-move-right">
                Read docs
                <i class="fas fa-arrow-right text-sm ms-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="info-horizontal bg-gradient-primary border-radius-xl d-block d-md-flex p-4">
            <i class="material-icons text-white text-3xl">flag</i>
            <div class="ps-0 ps-md-3 mt-3 mt-md-0">
              <h5 class="text-white">Getting Started</h5>
              <p class="text-white">Check the possible ways of working with our product and the necessary files for building your own project.</p>
              <a href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-kit" class="text-white icon-move-right">
                Let's start
                <i class="fas fa-arrow-right text-sm ms-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
          <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4 h-100">
            <i class="material-icons text-gradient text-primary text-3xl">precision_manufacturing</i>
            <div class="ps-0 ps-md-3 mt-3 mt-md-0">
              <h5>Plugins</h5>
              <p>Get inspiration and have an overview about the plugins that we used to create the Material Kit.</p>
              <a href="https://www.creative-tim.com/learning-lab/bootstrap/datepicker/material-kit" class="text-primary icon-move-right">
                Read more
                <i class="fas fa-arrow-right text-sm ms-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
          <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4">
            <i class="material-icons text-gradient text-primary text-3xl">receipt_long</i>
            <div class="ps-0 ps-md-3 mt-3 mt-md-0">
              <h5>Utility Classes</h5>
              <p>Material Kit is giving you a lot of pre-made elements. For those who want flexibility, we included many utility classes.</p>
              <a href="https://www.creative-tim.com/learning-lab/bootstrap/utilities/material-kit" class="text-primary icon-move-right">
                Read more
                <i class="fas fa-arrow-right text-sm ms-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -------- END Content Presentation Docs ------- -->
    <!-- -------- START Content Contributor Block ------- -->
    <section class="py-sm-7" id="download-soft-ui">
      <div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
        <img src="{% static 'assets/img/shapes/waves-white.svg' %}" alt="pattern-lines" class="position-absolute start-0 top-md-0 w-100 opacity-2">
        <div class="container py-7 postion-relative z-index-2 position-relative">
          <div class="row">
            <div class="col-md-7 mx-auto text-center">
              <h3 class="text-white mb-0">Do you want to be a contributor to the</h3>
              <h3 class="text-white">Maine-eDNA Metadata project?</h3>
              <p class="text-white mb-5">Follow the link below to the repository!</p>
              <a href="https://github.com/Maine-eDNA/medna-metadata" target="_blank" class="btn btn-primary btn-lg mb-3 mb-sm-0">Repository</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6 mx-auto">
            <div class="text-center">
              <h3 class="mt-5 mb-4">This project was supported by</h3>
              <div class="row justify-content-center">
                <div class="col-lg-2 col-4">
                  <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1849227" target="_blank">
                    <img src="{% static 'assets/img/logos/logo-nsf.png' %}" class="img-fluid" data-bs-toggle="tooltip" data-bs-placement="bottom" title="The National Science Foundation award #OIA-1849227">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="https://umaine.edu/epscor/">
                    <img src="{% static 'assets/img/logos/logo-maine-epscor.jpg' %}" class="img-fluid" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Maine's Established Program to Stimulate Competitive Research (EPSCoR)">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="https://umaine.edu/edna/">
                    <img src="{% static 'assets/img/logos/logo-medna-regular-lg.png' %}" class="img-fluid" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Maine-eDNA - Sustaining Coastal Ecosystems in Maine and Beyond">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="https://umaine.edu/">
                    <img src="{% static 'assets/img/logos/logo-umaine-crest-4c.png' %}" class="img-fluid" data-bs-toggle="tooltip" data-bs-placement="bottom" title="The University of Maine">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- -------- END Content Contributor Block ------- -->
    <section class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-12 my-auto">
            <h3 class="text-gradient text-primary mb-0">You liked it and</h3>
            <h3>Want more?</h3>
            <p class="pe-md-5 mb-4">
              Most complex and innovative Design System Made by <a href="https://bit.ly/3fKQZaL" target="_blank">Creative Tim </a> . Check our latest Premium Bootstrap 5 UI Kit.
              Designed for those who like bold elements and beautiful websites. Made of hundred of elements, designed blocks and fully coded pages, Material Kit is ready to help you create stunning websites and webapps.
            </p>
            <div class="github-buttons">
              <a href="/dashboard/" target="_blank" class="btn bg-gradient-primary mb-5 mb-sm-0">Dashboard</a>
              <div class="github-button">
                <span></span>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-12 my-auto">
            <a target="_blank" href="https://appseed.us/product/django-material-kit2-pro">
              <img class="w-100 border-radius-lg shadow-lg" src="https://s3.amazonaws.com/creativetim_bucket/products/46/original/material-kit-pro.jpg?1632843641" alt="Product Image">
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 ms-auto">
            <h4 class="mb-1">Thank you for your support!</h4>
          </div>
          <div class="col-lg-5 me-lg-auto my-lg-auto text-lg-end mt-5">
            <a href="https://twitter.com/intent/tweet?text=Check+out+Maine-eDNA+metadata+-+a+data+management+system+for+tracking+environmental+DNA+samples%3A+https%3A%2F%2Fgithub.com%2FMaine-eDNA%2Fmedna-metadata" class="btn btn-twitter mb-0 me-2" target="_blank">
              <i class="fab fa-twitter me-1"></i> Tweet
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/Maine-eDNA/medna-metadata" class="btn btn-facebook mb-0 me-2" target="_blank">
              <i class="fab fa-facebook-square me-1"></i> Share
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->
  </div>

  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 mb-4 ms-auto">
          <div>
            <a href="https://umaine.edu/edna">
              <img src="{% static 'assets/img/logo-medna-dark.png' %}" class="mb-3 footer-logo" alt="main_logo">
            </a>
            <h6 class="font-weight-bolder mb-4">Maine-eDNA Metadata</h6>
          </div>
          <div>
            <ul class="d-flex flex-row ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.facebook.com/MaineEPSCoR" target="_blank">
                  <i class="fab fa-facebook text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://twitter.com/maineepscor" target="_blank">
                  <i class="fab fa-twitter text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://github.com/Maine-eDNA/medna-metadata" target="_blank">
                  <i class="fab fa-github text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.youtube.com/channel/UCnANSENXoXuIGlzKaFkbPJw" target="_blank">
                  <i class="fab fa-youtube text-lg opacity-8"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Maine EPSCoR</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="https://umaine.edu/edna/about-us" target="_blank">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://umaine.edu/edna/thematic-goal-3-macrosystem-edna-integration" target="_blank">
                  Thematic Goal 3
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://umaine.edu/news/blog" target="_blank">
                  Blog
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Resources</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="https://umaine.edu/edna/media-kit" target="_blank">
                  Media Kit & Resources
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://umaine.edu/edna/graduate-program" target="_blank">
                  Graduate Program
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://umaine.edu/edna/people/department/researcher" target="_blank">
                  Researcher Directory
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Help & Support</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="/main/contact-us.html" target="_blank">
                  Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://docs.djangoproject.com/en/4.0/" target="_blank">
                  Django Documentation
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.django-rest-framework.org/" target="_blank">
                  Django REST Framework
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
          <div>
            <h6 class="text-sm">Legal</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Maine-eDNA/medna-metadata/blob/main/TOS.rst" target="_blank">
                  Terms & Conditions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Maine-eDNA/medna-metadata/blob/main/LICENSE" target="_blank">
                  Licenses (EULA)
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              &copy; <a href="https://github.com/melkimble" target="_blank">melkimble</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
  <script src="{% static 'assets/js/plugins/countup.min.js' %}"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
  <script src="{% static 'assets/js/plugins/rellax.min.js' %}"></script>
  <!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
  <script src="{% static 'assets/js/plugins/tilt.min.js' %}"></script>
  <!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
  <script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
  <script src="{% static 'assets/js/plugins/parallax.min.js' %}"></script>
  <!-- Control Center for Material UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="{% static 'assets/js/material-kit.min.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    if (document.getElementById('state1')) {
      const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('state2')) {
      const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('state3')) {
      const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
  </script>
</body>

</html>