{% extends "layouts/django-material-kit/base.html" %}
{% load static %}

{% block title %} Local Contexts and Maine-eDNA {% endblock %}

{% block body_class %} index-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/django-material-kit/navigation-transparent.html' %}

  <div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1584986643223-a3676d817c4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <h1 class="text-white">Local Contexts and Maine-eDNA</h1>
            <p class="lead mb-4 text-white opacity-8">Documenting Indigenous provenance through sustained partnerships.</p>
          </div>
        </div>
      </div>
      <span id="lcCollabSpan">
        <div class="row mt-5">
          <div class="col-md-8 mx-auto">
            <div class="text-center">
                <div id="lcCollabLoading" class="d-flex justify-content-center">
                  <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Collaboration Notice Loading...
                  </button>
                </div>
            </div>
          </div>
        </div>
        <span id="lcCollabResponse"></span>
      </span>
    </div>
  </div>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="section text-start py-5">
        <!-- -------- START Grids -------- -->
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-12 my-auto">
                      <h3>Local Contexts and Maine-eDNA</h3>
                      <p class="pe-md-5 mb-4">
                          These samples are collected on traditional Wabanaki territory, Maine-eDNA is collaborating
                          with <a href="https://localcontextshub.org" target="_blank">Local Contexts Hub</a> to document
                          the Indigenous provenance of and rights to these data through the use of
                          <a href="https://localcontexts.org/labels/biocultural-labels/" target="_blank">Biocultural Notices and Labels.</a> <br>
                          <a href="https://localcontexts.org/" class="text-info icon-move-right" target="_blank">More about Local Contexts
                              <i class="fas fa-arrow-right text-sm ms-1"></i>
                          </a>
                      </p>
                  </div>
                  <div class="col-md-4 col-12 my-auto">
                      <a target="_blank" href="https://localcontexts.org/">
                          <img class="w-100 border-radius-lg shadow-lg p-2" style="background-color:#16A085" src="https://localcontexts.org/wp-content/uploads/2020/11/local-contexts-logo.png" alt="local contexts logo">
                      </a>
                  </div>
              <div class="row">
                  <div class="col-md-8 col-12 my-auto">
                      <h3>University of Maine Land Acknowledgement</h3>
                      <figure>
                      <p class="pe-md-5 mb-4">
                          The University of Maine recognizes that it is located on Marsh Island in the homeland of the
                          Penobscot Nation, where issues of water and territorial rights, and encroachment upon sacred
                          sites, are ongoing. Penobscot homeland is connected to the other Wabanaki Tribal Nations — the
                          Passamaquoddy, Maliseet, and Mi’kmaq — through kinship, alliances and diplomacy. The
                          university also recognizes that the Penobscot Nation and the other Wabanaki Tribal Nations are
                          distinct, sovereign, legal and political entities with their own powers of self-governance and
                          self-determination. <br>
                      </p>
                          <figcaption class="blockquote-footer ps-3"><cite title="University of Maine Land Acknowledgement">University of Maine Land Acknowledgement</cite></figcaption>
                          <a target="_blank" href="https://umaine.edu/about/university-of-maine-land-acknowledgement/" class="text-info icon-move-right">University of Maine Land Acknowledgement
                              <i class="fas fa-arrow-right text-sm ms-1"></i>
                          </a>
                      </figure>
                  </div>
                  <div class="col-md-4 col-12 my-auto">
                      <a target="_blank" href="https://umaine.edu/about/university-of-maine-land-acknowledgement/">
                          <img class="w-100 border-radius-lg shadow-lg" src="https://umaine.edu/wp-content/uploads/sites/2/2020/06/land-header-1268x401.jpg" alt="University of Maine">
                      </a>
                  </div>
              </div>
            <!-- -------- START loop -------- -->
            {% if project_list %}
                {% for project in project_list %}
                    {% if project.project_label != 'Maine eDNA' %}
                    {% if project.local_contexts_id %}
                    <h3>{{ project.project_label }}</h3>
                    <div class="row">
                        <h5 class="font-weight-bolder mt-3">Local Contexts' Project Detail (Notices and Labels)</h5>
                        <div id="lcLoading_{{ project.project_code|slugify }}" class="d-flex justify-content-center">
                            <button class="btn btn-primary" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Notices or Labels Loading...
                            </button>
                        </div>
                        <span id="lcProjectId_{{ project.project_code|slugify }}" hidden>{{ project.local_contexts_id }}</span>
                        <span id="lcResponse_{{ project.project_code|slugify }}"></span>
                    </div>
                    <a href="{% url 'detail_localcontexts' project.pk %}">
                        {% if project.project_goals %}
                        <div class="row">
                        <h5 class="font-weight-bolder mt-3">{{ project.project_label }} Goals</h5>
                        <p class="pe-5">{{ project.project_goals }}</p>
                        </div>
                        {% endif %}
                        {% if project.project_description %}
                        <div class="row">
                            <h5 class="font-weight-bolder mt-3">{{ project.project_label }} Description</h5>
                            <p class="pe-5">{{ project.project_description }}</p>
                        </div>
                        {% endif %}
                    </a>
                    <div class="w-100"></div>

                    <hr/>
                    {% endif %}
                    {% endif %}
                {% endfor %}
              {% else %}
                <p class="lead">No projects are available.</p>
              {% endif %}
            <!-- -------- END loop -------- -->
          </div>
        <!-- -------- END Grids -------- -->
      </div>
    </div>
  </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/js/plugins/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/local-contexts-api.js' %}"></script>
{% endblock javascripts %}
