{% extends "layouts/django-material-kit/base.html" %}
{% load static %}

{% block title %} Local Contexts and Maine-eDNA {% endblock %}

{% block body_class %} index-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/django-material-kit/navigation-transparent.html' %}

  <div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1584986643223-a3676d817c4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-white">Local Contexts and Maine-eDNA</h1>
          <p class="lead mb-4 text-white opacity-8">Documenting Indigenous provenance through sustained partnerships.</p>
          <span id="lcCollabSpan">
            <div id="lcCollabLoading" class="d-flex justify-content-center">
              <button class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Collaboration Notice Loading...
              </button>
            </div>
            <span id="lcCollabResponse"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="section text-start py-5">
        <!-- -------- START Grids -------- -->
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-12 my-auto">
                      <h3>Local Contexts Collaboration | Biocultural Notices and Labels</h3>
                      <p class="pe-md-5 mb-4">
                          Maine-eDNA is committed to maintaining Indigenous provenance of and future interests in data
                          collected on Indigenous lands and waters. As part of our commitment to sharing and caring for
                          data, Maine-eDNA is working with <a href="https://localcontexts.org/" class="text-info" target="_blank">Local Contexts</a>
                          to openly collaborate with Wabanaki Tribal Nations through the use of Biocultural (BC) Notices
                          and Labels. Maine-eDNA and Local Contexts are collaborating with Wabanaki Tribal Nations to
                          develop BC Notices and Labels projects that also will be shared as models for the international community.<br><br>

                          Local Contexts is an international organization founded in 2010 to “enhance and legitimize
                          locally based decision-making and Indigenous governance frameworks for determining ownership,
                          access, and culturally appropriate conditions for sharing historical, contemporary and future
                          collections of cultural heritage and Indigenous data.”<br>

                          <a href="https://localcontexts.org/" class="text-info icon-move-right" target="_blank">More about Local Contexts
                              <i class="fas fa-arrow-right text-sm ms-1"></i>
                          </a>
                      </p>
                  </div>
                  <div class="col-md-4 col-12 my-auto">
                      <a target="_blank" href="https://localcontexts.org/">
                          <img class="w-100 border-radius-lg shadow-lg p-2" style="background-color:#16A085" src="https://localcontexts.org/wp-content/uploads/2020/11/local-contexts-logo.png" alt="local contexts logo">
                      </a>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-8 col-12 my-auto">
                      <p class="pe-md-5 mb-4">
                          Local Contexts enables the communication
                          of <a href="https://localcontexts.org/labels/traditional-knowledge-labels/" class="text-info" target="_blank">Traditional Knowledge (TK)</a>
                          and <a href="https://localcontexts.org/labels/biocultural-labels/" class="text-info" target="_blank">Biocultural (BC)</a> Labels
                          and <a href="https://localcontexts.org/notices/aboutnotices/" class="text-info" target="_blank">Notices</a> between Indigenous
                          communities and researchers. These human and machine readable digital tags support relationships
                          between Indigenous communities, researchers, and institutions. They help communities, institutions and
                          researchers in the management of intellectual and cultural property, cultural heritage,
                          and environmental data within the digital environment. Traditional Knowledge and Biocultural
                          Notices, applied by a researcher or institution, signal the right of Indigenous communities
                          to define the use of information, collections, and data (including Digital Sequence Information,
                          DSI) generated from biodiversity and genetic resources associated with traditional lands or waters.<br><br>

                          As participants in the Maine-eDNA Project, we respectfully acknowledge that we are conducting
                          research on the Homelands of the Penobscot, Passamaquoddy, Maliseet, and Mi’kmaq Wabanaki
                          Tribal Nations. When partnering with Tribal Nations, Maine-eDNA promotes data sharing practices
                          that enable appropriate attribution, appropriate access and appropriate authority. As
                          researchers we are committed to the
                          <a href="https://www.go-fair.org/fair-principles/" class="text-info" target="_blank">FAIR (Findable, Accessible, Interoperable, Reusable)</a>
                          guiding principles for managing scientific data and stewardship and
                          <a href="https://www.gida-global.org/care" class="text-info" target="_blank">CARE (Collective Benefit,
                          Authority to Control, Responsibility, Ethics)</a> guiding principles for Indigenous data governance.
                      </p>
                  </div>
                  <div class="col-md-4 col-12 my-auto">
                      <div class="row">
                        <a target="_blank" href="https://localcontexts.org/labels/biocultural-labels/">
                          <img class="w-75 border-radius-lg shadow-lg p-2" src="https://localcontexts.org/wp-content/uploads/2020/11/BC-BLACK-NOTICE-20-AUG-2020.png" alt="biocultural label">
                        </a>
                      </div>
                      <div class="row">
                        <a target="_blank" href="https://localcontexts.org/labels/traditional-knowledge-labels/">
                          <img class="w-75 border-radius-lg shadow-lg p-2" src="https://localcontexts.org/wp-content/uploads/2020/11/TK-BLACK-NOTICE-20-AUG-2020.png" alt="traditional knowledge label">
                        </a>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-8 col-12 my-auto">
                      <h3>Local Contexts Hub | Collaborative Communication</h3>
                      <p class="pe-md-5 mb-4">
                          As part of the collaboration between Maine-eDNA and Local Contexts, Maine-eDNA has created a
                          long-term institutional account on the Local Contexts Hub under the
                          <a href="https://umaine.edu/mcge/" class="text-info" target="_blank">Maine Center for Genetics in the Environment (MCGE)</a>.<br><br>

                          The <a href="https://localcontexts.org/tk-label-hub/" class="text-info" target="_blank">Local Contexts Hub</a>
                          is a platform for communication and collaboration between communities,
                          institutions, and researchers. Using the Hub, researchers can submit Projects and attach Notices
                          to alert Indigenous communities of research activities, who can then customize and attach provenance,
                          protocol, or permission Labels to that Project to give context on how the data should be used.
                          With the institutional account, researchers aligned with Maine-eDNA do not have to create separate
                          Researcher profiles for Maine-eDNA projects, though profiles may be created for better communication.<br>

                          <a href="https://localcontexts.org/tk-label-hub/" class="text-info icon-move-right" target="_blank">Sign up or learn more about the Local Contexts Hub
                              <i class="fas fa-arrow-right text-sm ms-1"></i>
                          </a>
                      </p>
                  </div>
                  <div class="col-md-4 col-12 my-auto">
                      <a target="_blank" href="https://umaine.edu/mcge/">
                          <img class="w-100 border-radius-lg shadow-lg p-2" src="https://storage.googleapis.com/anth-ja77-local-contexts-8985.appspot.com/users/institution-images/d19200a8-5b51-433c-9adb-2083c12a42de.png" alt="maine center for genetics in the environment logo">
                      </a>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 col-12 my-auto">
                      <h3>Contact Information</h3>
                      <p class="pe-md-5 mb-4">
                          If you are interested in collaborating with Indigenous partners please contact Darren Ranco at
                          <a href="mailto:darren.ranco@maine.edu" class="text-info">darren.ranco@maine.edu</a>.
                          For more information about Local Contexts directly, please contact Local Contexts support at
                          <a href="mailto:support@localcontexts.org" class="text-info">support@localcontexts.org"</a>.
                      </p>
                  </div>
              </div>

            {% if project_list %}
              <hr/>
              <div class="row">
                <h3 class="text-center">Local Contexts Projects within Maine-eDNA</h3>
              </div>
              <hr/>
              <!-- -------- START loop -------- -->
                {% for project in project_list %}
                    {% if project.project_label != 'Maine eDNA' %}
                    {% if project.local_contexts_id %}
                    <div class="row">
                        <h5 class="font-weight-bolder mt-3">{{ project.project_label }} Local Contexts' Project Detail (Notices and Labels)</h5>
                        <div id="lcLoading_{{ project.project_code|slugify }}" class="d-flex justify-content-center">
                            <button class="btn btn-primary" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Notices or Labels Loading...
                            </button>
                        </div>
                        <span id="lcProjectId_{{ project.project_code|slugify }}" hidden>{{ project.local_contexts_id }}</span>
                        <span id="lcResponse_{{ project.project_code|slugify }}"></span>
                    </div>
                    <a href="{% url 'detail_localcontexts' project.pk %}">
                        {% if project.project_goals %}
                        <div class="row">
                          <h5 class="font-weight-bolder mt-3">{{ project.project_label }} Goals</h5>
                          <p class="pe-5">{{ project.project_goals }}</p>
                        </div>
                        {% endif %}
                        {% if project.project_description %}
                        <div class="row">
                          <h5 class="font-weight-bolder mt-3">{{ project.project_label }} Description</h5>
                          <p class="pe-5">{{ project.project_description }}</p>
                        </div>
                        {% endif %}
                    </a>
                    <div class="w-100"></div>

                    <hr/>
                    {% endif %}
                    {% endif %}
                {% endfor %}
              {% else %}
                <p class="lead">No projects are available.</p>
              {% endif %}
            <!-- -------- END loop -------- -->
          </div>
        <!-- -------- END Grids -------- -->
      </div>
    </div>
  </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/js/plugins/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/local-contexts-api.js' %}"></script>
{% endblock javascripts %}
