{% extends "layouts/django-material-kit/base.html" %}
{% load static %}

{% block title %} Projects {% endblock %}

{% block body_class %} index-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/django-material-kit/navigation-transparent.html' %}

  <div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1609599234553-1c573c30525b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <h1 class="text-white">Projects</h1>
            <p class="lead mb-4 text-white opacity-8">Descriptions, goals</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="section text-start">
        <!-- -------- START Grids -------- -->
        <section class="py-9">
          <div class="container">
            <!-- -------- START loop -------- -->
            {% if project_list %}
                {% for project in project_list %}
                    {% if project.project_label != "Maine eDNA" %}
                    {% if project.project_description %}
                    <h3>{{ project.project_label }}</h3>
                    <a href="{% url 'project_detail' project.pk %}"><div class="row">
                        <div class="col">
                            <h5 class="font-weight-bolder mt-3">Description</h5>
                            <p class="pe-5">{{ project.project_description }}</p>
                        </div>
                        {% if project.project_goals %}
                        <div class="col">
                            <h5 class="font-weight-bolder mt-3">Goals</h5>
                            <p class="pe-5">{{ project.project_goals }}</p>
                        </div>
                        {% endif %}
                    <div class="w-100"></div>
                    </div> </a>
                    <hr/>
                    {% endif %}
                    {% endif %}
                {% endfor %}
              {% else %}
                <p class="lead">No projects are available.</p>
              {% endif %}
            <!-- -------- END loop -------- -->
          </div>
        </section>
        <!-- -------- END Grids -------- -->
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
