{% extends "users/forms.html" %}
{% load i18n static crispy_forms_tags leaflet_tags%}

{% block extrastyle %}{{ block.super }}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <script src="{% static 'index_sites/js/WBDHU8_MENH_NEA.js' %}"></script>
    <script src="{% static 'index_sites/js/field-site-add.js' %}"></script>
    <script src="{% static 'index_sites/js/field-site-add-readonly.js' %}"></script>
    <script src="{% static 'index_sites/js/leaflet-pip.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <p> Manually specify your own latitude and longitude values and <strong>Jump there</strong> or add the site through the map.</p>
    <div id="div_id_latlng" class="form-row align-items-center">
        <div class="col-auto">
            <label for="id_lat" class="requiredField sr-only">Latitude:<span class="asteriskField">*</span></label>
            <input type="text" class="textinput textInput form-control mb-2" required id="id_lat" placeholder="Latitude (DD WGS84)*">
        </div>
        <div class="col-auto">
            <label for="id_lng" class="requiredField sr-only">Longitude:<span class="asteriskField">*</span></label>
            <input type="text" class="textinput textInput form-control mb-2" required id="id_lng" placeholder="Longitude (DD WGS84)*">
        </div>
        <div class="col-auto">
            <input id="manual-latlng" type="button" class="btn btn-info mb-2" value="Jump there">
        </div>
    </div>
<br>
    <div id="div_readonly_id_geom" class="form-group">
        <label for="readonly_id_geom" class="requiredField sr-only">
            JSON Geometry (populates after clicking <span>Jump there</span> or adding site through the map):<span class="asteriskField">*</span>
        </label>
            <input type="text" class="textinput textInput form-control readonly-geom text-secondary bg-light" required id="readonly_id_geom"
                   placeholder="JSON Geometry: Populates after clicking [Jump there] or adding site through the map.*">
    </div>
<br>
    <button id="submit_button" type="submit" class="btn btn-warning btn-block">{% translate 'Add new site' %}</button>
</form>

{% endblock %}