{% extends "account/base.html" %}
{% load i18n static %}
{% load account %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "utility/css/allauth_forms.css" %}">
{{ form.media }}
{% endblock %}

{% block title %}{% trans "Password Reset" %} | {{ site_title|default:_('Maine-eDNA Metadata') }}{% endblock %}

{% block bodyclass %}{{ block.super }} {% endblock %}

{% block contentclass %}{{ block.super }}allauth_forms{% endblock %}

{% block content %}
<div id="content-main">
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}
