{% extends "layouts/django-material-dashboard/base.html" %}
{% load static i18n %}
{% load django_tables2 %}
{% load custom_filter_list %}

{% block title %} {{ page_title|title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">{{ page_title|title }} Table</h6>
          </div>
          <div class="card-body px-0 pb-2">
          <!-- insert filter here -->
              {% block object-tools %}
              <ul class="object-tools">
                  {# {% for format in view.export_formats %} #}
                  {# <li><a class="export_link" href="{% export_url format %}">Export <code>.{{ format }}</code></a></li> #}
                  {# {% endfor %} #}
                  <li><a class="import_link" href="{% url 'users:labels_index' %}">{% translate 'View ' %} {% firstof user.get_short_name user.get_username|split_email %}'s {% translate ' labels' %}</a></li>
                  <li><a class="import_link" href="{% url 'users:samplelabel' %}">{% translate 'View all labels' %}</a></li>
              </ul>
              {% endblock %}

              <div class="module filtered" id="changelist">

                {% block filters %}
                <div id="changelist-filter">

                  <h2>{% translate 'Filter' %}</h2>
                  <form method="get" id="changelist-form" >
                    <h3> {{ filter.form.created_datetime.label_tag }} </h3>
                    <ul class="user-filter-created_datetime">
                      <li>{% filter.form.created_datetime %}</li>
                    </ul>
                    <h3> {{ filter.form.sample_year.label_tag }} </h3>
                    <ul class="user-filter-sample_year">
                      <li>{% filter.form.sample_year %}</li>
                    </ul>
                    <h3> {{ filter.form.sample_material.label_tag }} </h3>
                    <ul class="user-filter-sample_material">
                      {% for choice in filter.form.sample_material %}
                      <li>
                        <label class="checkbox-inline">
                          {{ choice.tag }} {{ choice.choice_label }}
                        </label>
                      </li>
                      {% endfor %}
                    </ul>
                      <h3> {{ filter.form.sample_type.label_tag }} </h3>
                    <ul class="user-filter-sample_type">
                      {% for choice in filter.form.sample_type %}
                      <li>
                        <label class="checkbox-inline">
                          {{ choice.tag }} {{ choice.choice_label }}
                        </label>
                      </li>
                      {% endfor %}
                    </ul>
                    <h3> {{ filter.form.site_id.label_tag }} </h3>
                    <ul class="user-filter-site_id">
                      {% for choice in filter.form.site_id %}
                      <li>
                        <label class="checkbox-inline">
                          {{ choice.tag }} {{ choice.choice_label }}
                        </label>
                      </li>
                      {% endfor %}
                    </ul>
                    <ul class="user-filter-submit">
                      <li> <input type="submit" class="import_link" value="Search" /></li>
                    </ul>
                  </div>
                  {% endblock %}
                  {% block result_list %}
                  {% custom_filter_actions %}
                  <div class="results changelist-form-results">
                    {% render_table table %}
                  </div>
                </form>
                {% endblock %}

              </div>

          <!-- insert table here -->
          {% render_table table %}
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/django-material-dashboard/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/js/django/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/js/django/jquery.init.js' %}"></script>
    <script src="{% static 'assets/js/django/core.js' %}"></script>
    <script src="{% static 'assets/js/django/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'assets/js/django/actions.js' %}"></script>
    <script src="{% static 'assets/js/django/urlify.js' %}"></script>
    <script src="{% static 'assets/js/django/prepopulate.js' %}"></script>
    <script src="{% static 'assets/js/django/vendor/xregexp/xregexp.js' %}"></script>
    <script src="{% static 'assets/js/django/selectbox_all.js' %}"></script>
{% endblock javascripts %}
