{% extends "layouts/django-material-dashboard/base.html" %}
{% load static i18n %}
{% load django_tables2 %}
{% load custom_filter_list %}
{% block title %} {{ page_title|title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">{{ page_title|title }} Table</h6>
          </div>
          <div class="card-body px-0 pb-2">
          <!-- insert filter here -->
              {% block object-tools %}
              <ul class="object-tools">
                  {# {% for format in view.export_formats %} #}
                  {# <li><a class="export_link" href="{% export_url format %}">Export <code>.{{ format }}</code></a></li> #}
                  {# {% endfor %} #}
              </ul>
              {% endblock %}

              <div class="module filtered" id="changelist">

                <div id="changelist-filter">
                {% if filter %}
                    <form action="" method="get" class="form form-inline">
                        {{ filter.form.as_p }}
                        <input type="submit" />
                    </form>
                {% endif %}
              </div>

          <!-- insert table here -->
          {% render_table table %}
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/django-material-dashboard/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/js/django/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/js/django/jquery.init.js' %}"></script>
    <script src="{% static 'assets/js/django/core.js' %}"></script>
    <script src="{% static 'assets/js/django/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'assets/js/django/actions.js' %}"></script>
    <script src="{% static 'assets/js/django/urlify.js' %}"></script>
    <script src="{% static 'assets/js/django/prepopulate.js' %}"></script>
    <script src="{% static 'assets/js/django/vendor/xregexp/xregexp.js' %}"></script>
    <script src="{% static 'assets/js/django/selectbox_all.js' %}"></script>
{% endblock javascripts %}
