{% extends "layouts/django-material-dashboard/base.html" %}
{% load static i18n %}
{% load django_tables2 %}
{% load custom_filter_list %}

{% block title %} {{ page_title|title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/django/changelists.css' %}">
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">

          <div class="bg-gradient-dark bg-white border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">{{ page_title|title }} Table</h6>
                <!-- START filter -->
                {% if filter %}
                <div id="changelist">
                    {% include 'includes/django-material-dashboard/filter-form.html' %}
                </div>
                 {% endif %}
                <!-- END filter -->
          </div>
            <div class="card-body px-0 pb-2">
                <!-- START export options -->
                {% custom_filter_actions %}
                <!-- END export options -->
                <!-- START table -->
                <div class="results">
                {% render_table table %}
                </div>
                <!-- END table -->
            </div>
        </div>
      </div>
    </div>

    {% include 'includes/django-material-dashboard/footer.html' %}

  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/js/django/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/js/django/jquery.init.js' %}"></script>
    <script src="{% static 'assets/js/django/core.js' %}"></script>
    <script src="{% static 'assets/js/django/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'assets/js/django/actions.js' %}"></script>
    <script src="{% static 'assets/js/django/urlify.js' %}"></script>
    <script src="{% static 'assets/js/django/prepopulate.js' %}"></script>
    <script src="{% static 'assets/js/django/vendor/xregexp/xregexp.js' %}"></script>
    <script src="{% static 'assets/js/selectbox_all.js' %}"></script>
    <script src="{% url 'jsi18n' %}"></script>
{% endblock javascripts %}
