{% extends "home/django-material-dashboard/field-add.html" %}
{% load static leaflet_tags %}

{% block title %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block extrahead %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <script src="{% static 'assets/js/plugins/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/field_site/WBDHU8_MENH_NEA.js' %}"></script>
    <script src="{% static 'assets/js/field_site/field-site-add.js' %}"></script>
    <script src="{% static 'assets/js/field_site/field-site-add-readonly.js' %}"></script>
    <script src="{% static 'assets/js/field_site/leaflet-pip.js' %}"></script>
{% endblock extrahead %}

{% block content %}{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
