{% extends "layouts/django-material-dashboard/base.html" %}
{% load static %}
{% load django_tables2 %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">summarize</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Total Surveys</p>
                <h4 id="surveyTotal" class="mb-0"></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Last Survey: </span><span id="lastSurveyDate"></span></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">filter_alt</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Total Field Samples</p>
                <h4 id="fieldSampleTotal" class="mb-0"></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">Filters: </span><span id="filterTotal"></span>
                | <span class="text-success text-sm font-weight-bolder">SubCores: </span><span id="subCoreTotal"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">science</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Total Extractions</p>
                <h4 id="extractionTotal" class="mb-0"></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Last Extraction: </span><span id="lastExtractionDate"></span></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">desktop_windows</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Total NGS Runs</p>
                <h4 id="runResultTotal" class="mb-0"></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Last Run: </span><span id="lastRunResultDate"></span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- START survey charts -->
      <div class="row mt-4">
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="bg-gray-200 card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                  <div class="chart">
                    <div id="chartSurveyCountLoading" class="d-flex justify-content-center mb-4 mt-4">
                      <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chart Loading...
                      </button>
                    </div>
                    <h6 id="chartSurveyCountEmpty" class="mb-4 mt-4 text-center"></h6>
                    <canvas id="chartSurveyCount" data-url="{% url 'chart_surveycount' %}" class="chart-canvas" height="250"></canvas>
                  </div>
                </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Monthly Surveys </h6>
              <p class="text-sm "> Surveys per month. </p>
              <hr class="dark horizontal">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="bg-gray-200 card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <div id="chartSurveySystemCountLoading" class="d-flex justify-content-center mb-4 mt-4">
                    <button class="btn btn-primary" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Chart Loading...
                    </button>
                  </div>
                  <h6 id="chartSurveySystemCountEmpty" class="mb-4 mt-4 text-center"></h6>
                  <canvas id="chartSurveySystemCount" data-url="{% url 'chart_surveysystemcount' %}" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">System Surveys</h6>
              <p class="text-sm ">Surveys per system type.</p>
              <hr class="dark horizontal">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="bg-gray-200 card mb-3">
          <div class="card-body p-3">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                  <div class="chart">
                    <div id="chartSurveySiteCountLoading" class="d-flex justify-content-center mb-4 mt-4">
                      <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chart Loading...
                      </button>
                    </div>
                    <h6 id="chartSurveySiteCountEmpty" class="mb-4 mt-4 text-center"></h6>
                    <canvas id="chartSurveySiteCount" data-url="{%url 'chart_surveysitecount' %}" class="chart-canvas" height="250"></canvas>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Site Surveys</h6>
              <p class="text-sm ">Surveys per site.</p>
              <hr class="dark horizontal">
            </div>
          </div>
        </div>
      </div>
      <!-- END survey charts -->
      <!-- START filter charts -->
      <div class="row mt-4">
        <div class="bg-gray-200 card mb-3">
          <div class="card-body p-3">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <div id="chartFieldSampleCountLoading" class="d-flex justify-content-center mb-4 mt-4">
                    <button class="btn btn-primary" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Chart Loading...
                    </button>
                  </div>
                  <h6 id="chartFieldSampleCountEmpty" class="mb-4 mt-4 text-center"></h6>
                  <canvas id="chartFieldSampleCount" data-url="{%url 'chart_fieldsamplecount' %}" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Field Samples</h6>
              <p class="text-sm ">Field samples per month.</p>
              <hr class="dark horizontal">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="bg-gray-200 card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                  <div class="chart">
                    <div id="chartFilterTypeCountLoading" class="d-flex justify-content-center mb-4 mt-4">
                      <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chart Loading...
                      </button>
                    </div>
                    <h6 id="chartFilterTypeCountEmpty" class="mb-4 mt-4 text-center"></h6>
                    <canvas id="chartFilterTypeCount" data-url="{% url 'chart_filtertypecount' %}" class="chart-canvas" height="250"></canvas>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Filter Types </h6>
              <p class="text-sm "> Filters per type. </p>
              <hr class="dark horizontal">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="bg-gray-200 card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <div id="chartFilterSystemCountLoading" class="d-flex justify-content-center mb-4 mt-4">
                    <button class="btn btn-primary" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Chart Loading...
                    </button>
                  </div>
                  <h6 id="chartFilterSystemCountEmpty" class="mb-4 mt-4 text-center"></h6>
                  <canvas id="chartFilterSystemCount" data-url="{% url 'chart_filtersystemcount' %}" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">System Filters</h6>
              <p class="text-sm ">Filters per system type.</p>
              <hr class="dark horizontal">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="bg-gray-200 card mb-3">
          <div class="card-body p-3">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <div id="chartFilterSiteCountLoading" class="d-flex justify-content-center mb-4 mt-4">
                    <button class="btn btn-primary" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Chart Loading...
                    </button>
                  </div>
                  <h6 id="chartFilterSiteCountEmpty" class="mb-4 mt-4 text-center"></h6>
                  <canvas id="chartFilterSiteCount" data-url="{%url 'chart_filtersitecount' %}" class="chart-canvas" height="250"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Site Filters</h6>
              <p class="text-sm ">Filters per site.</p>
              <hr class="dark horizontal">
            </div>
          </div>
        </div>
      </div>
      <!-- END filter charts -->
      <!-- START EXTRACTION CHARTS -->
      <div class="row mt-4">
        <div class="bg-gray-200 card mb-3">
          <div class="card-body p-3">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                  <div class="chart">
                    <div id="chartExtractionCountLoading" class="d-flex justify-content-center mb-4 mt-4">
                      <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chart Loading...
                      </button>
                    </div>
                    <h6 id="chartExtractionCountEmpty" class="mb-4 mt-4 text-center"></h6>
                    <canvas id="chartExtractionCount" data-url="{% url 'chart_extractioncount' %}" class="chart-canvas" height="250"></canvas>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Monthly Extractions </h6>
              <p class="text-sm "> Extractions per month. </p>
              <hr class="dark horizontal">
            </div>
          </div>
        </div>
      </div>
      <!-- END EXTRACTION CHARTS -->
      <!-- START run result charts -->
      <div class="row mt-4">
        <div class="bg-gray-200 card mb-3">
          <div class="card-body p-3">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="shadow-dark border-radius-lg py-3 pe-1">
                  <div class="chart">
                    <div id="chartRunResultCountLoading" class="d-flex justify-content-center mb-4 mt-4">
                      <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chart Loading...
                      </button>
                    </div>
                    <h6 id="chartRunResultCountEmpty" class="mb-4 mt-4 text-center"></h6>
                    <canvas id="chartRunResultCount" data-url="{% url 'chart_runresultcount' %}" class="chart-canvas" height="250"></canvas>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Monthly Run Results </h6>
              <p class="text-sm "> Runs per month. </p>
              <hr class="dark horizontal">
            </div>
          </div>
        </div>
      </div>
      <!-- END run result charts -->
      <div class="row mb-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Metadata Todo</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">{{ return_metadata_count }} complete</span> to date
                  </p>
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              {% render_table return_metadata_table %}
            </div>
          </div>
        </div>
        {% if user.is_active and user.is_staff %}
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h6>Contact Us Overview</h6>
              <p class="text-sm">
                <i class="fa fa-user text-success" aria-hidden="true"></i>
                <span class="font-weight-bold">{{ replied_count }}</span> replies to date
              </p>
            </div>
            <div class="card-body p-3">
              {% include 'includes/django-material-dashboard/contact-us-timeline.html' %}
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      {% include 'includes/django-material-dashboard/footer.html' %}
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/palette.js' %}"></script>
<script src="{% static 'assets/js/charts-fieldsurvey.js' %}"></script>
<script src="{% static 'assets/js/charts-wetlab.js' %}"></script>
{% endblock javascripts %}
