{% extends "layouts/django-material-dashboard/base.html" %}
{% load static %}
{% load django_tables2 %}

{% block title %} {{ page_title|title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">{{ page_title|title }} Table</h6>
          </div>
          <div class="card-body px-0 pb-2">
          <!-- insert table here -->
          {% render_table table %}
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/django-material-dashboard/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
