{% extends "layouts/django-material-kit/base-fullscreen.html" %}
{% load static %}

{% block title %} Add Popup {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
<div class="row min-vh-80 h-100">
  <div class="col-12">
        {% include 'includes/django-material-dashboard/form.html' %}
  </div>
</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
