{% extends "home/django-material-dashboard/model-add-popup.html" %}
{% load static leaflet_tags %}

{% block extrahead %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <script src="{% url 'jsi18n' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/django/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'assets/js/plugins/leaflet-providers.js' %}"></script>
    <script src="{% static 'assets/js/field_survey/field-survey-add.js' %}"></script>
    <script src="{% static 'assets/js/field_survey/field-survey-add-readonly.js' %}"></script>
    <script src="{% static 'assets/js/plugins/leaflet-pip.js' %}"></script>
{% endblock %}
