{% extends "home/django-material-dashboard/model-add.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block extrahead %}{% endblock extrahead %}

{% block messages %}
<div class="card card-body mx-3 mb-4">
    <h3>Create Sample Barcode Request</h3>
    <div class="row">
         <p class="pe-md-5 mb-4">
             Sample barcodes are used to label and track samples with unique Field Site IDs. If a regularly sampled
             location does not yet have a Field Site ID, please see the
             <a target="_blank" href="{% url 'add_fieldsite' %}">Create Field Site ID page</a> for further instructions.
        </p>
    </div>
    <div class="row">
        <p class="pe-md-5 mb-4">
            Sample barcodes can be requested by filling out the Request Barcode Labels form below. To prevent duplicate
            requests, please coordinate among regions and designate individuals responsible for requesting and receiving
            barcode labels. Sample barcodes require an existing Field Site ID.
        </p>
    </div>
    <div class="row">
        <h3>Naming Convention for Sample Barcodes</h3>
        <div class="col-md-6 col-12 my-auto">
            <p class="pe-md-5 mb-4">The first seven characters of a sample barcode is the Field Site ID. If you do not
                yet have a Field Site ID, please see the <a target="_blank" href="{% url 'add_fieldsite' %}">Create Field Site ID page</a>
                for further instructions.
            </p>
            <h5>pRR_SCC_YYm_CCCC</h5>
            <p class="pe-md-5">Where:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">p = Grant or project code</li>
                <li class="list-group-item">RR = Watershed region code</li>
                <li class="list-group-item">S = System type code</li>
                <li class="list-group-item">CC = Two digit sequence, or number</li>
                <li class="list-group-item">YY = Two digit collection year</li>
                <li class="list-group-item">m = Sample material code</li>
                <li class="list-group-item">CCCC = Four digit sequence, or number</li>
            </ul>
        </div>
        <div class="col-md-6 col-12 my-auto">
            <img class="w-100 border-radius-lg shadow-lg" src="{% static 'assets/img/naming-convention-sample-label.png' %}" alt="sample label naming convention">
        </div>
    </div>
</div>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
