{% extends "home/django-material-dashboard/model-update.html" %}
{% load static %}

{% block title %} Update {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block extrahead %}
    <script src="{% static 'assets/js/plugins/jquery-3.4.1.min.js' %}"></script>
{% endblock extrahead %}
{% block messages %}
<div id="url_envo_biome_second" data-url="{% url 'options_biome_second' %}" style="display: none;"></div>
<div id="url_envo_biome_third" data-url="{% url 'options_biome_third' %}" style="display: none;"></div>
<div id="url_envo_biome_fourth" data-url="{% url 'options_biome_fourth' %}" style="display: none;"></div>
<div id="url_envo_biome_fifth" data-url="{% url 'options_biome_fifth' %}" style="display: none;"></div>
<div id="url_envo_feature_second" data-url="{% url 'options_feature_second' %}" style="display: none;"></div>
<div id="url_envo_feature_third" data-url="{% url 'options_feature_third' %}" style="display: none;"></div>
<div id="url_envo_feature_fourth" data-url="{% url 'options_feature_fourth' %}" style="display: none;"></div>
<div id="url_envo_feature_fifth" data-url="{% url 'options_feature_fifth' %}" style="display: none;"></div>
<div id="url_envo_feature_sixth" data-url="{% url 'options_feature_sixth' %}" style="display: none;"></div>
<div id="url_envo_feature_seventh" data-url="{% url 'options_feature_seventh' %}" style="display: none;"></div>
{% endblock %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/js/options-conditional.js' %}"></script>
    <script src="{% static 'assets/js/field_site/fieldsite-update-options-conditional.js' %}"></script>
{% endblock javascripts %}
