{% extends "layouts/django-material-dashboard/base.html" %}
{% load static %}

{% block title %} Add {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="page-header min-height-300 border-radius-xl mt-4"
           style="background-image: url('https://images.unsplash.com/photo-1533084417605-e538a510d50a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask bg-gradient-dark opacity-6"></span>
    </div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">
      {% if perms.sample_label.add_samplelabelrequest %}
      <div class="row min-vh-80 h-100">
        <div class="col-12">
          <h3 class="text-center">Sample Label Add</h3>
        </div>
      </div>
          {% else %}
      <div class="row min-vh-80 h-100">
        <div class="col-12">
          <h3 class="text-center">You do not have permission to view this page.</h3>
        </div>
      </div>
    </div>
    {% endif %}
    </div>
    {% include 'includes/django-material-dashboard/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
