<div class="input-group date" id="{{ widget.datetimepicker_id }}" data-target-input="nearest">
  {% include "django/forms/widgets/input.html" %}
  <div class="input-group-append" data-target="#{{ widget.datetimepicker_id }}" data-toggle="datetimepicker">
    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
  </div>
</div>

 <div class='input-group' id='{{ widget.datetimepicker_id }}' data-td-target-input='nearest' data-td-target-toggle='nearest'>
  {% include "django/forms/widgets/input.html" %}
   <span class='input-group-text' data-td-target='#{{ widget.datetimepicker_id }}' data-td-toggle='datetimepicker'>
     <span class='fa fa-calendar'></span>
   </span>
 </div>

<script>
$(function () {
  $('#{{ widget.datetimepicker_id }}').tempusDominus(
    format: 'MM/DD/YYYY HH:mm',
  );
});
</script>