/*
https://tobiasahlin.com/blog/flexbox-break-to-new-row/
Inserting this collapsed row between two flex items will make
the flex item that comes after it break to a new row
*/

.page-break {
  flex-basis: 100%;
  height: 0;
}