{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<!-- Head -->
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'utility/css/base.css' %}{% endblock %}">
    {% if not is_popup and is_nav_sidebar_enabled %}
      <link rel="stylesheet" type="text/css" href="{% static 'utility/css/nav_sidebar.css' %}">
      <script src="{% static 'utility/js/nav_sidebar.js' %}" defer></script>
    {% endif %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static 'utility/css/rtl.css' %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'utility/css/responsive.css' %}">
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static 'utility/css/responsive_rtl.css' %}">{% endif %}
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
<!-- END Head -->
</html>
