
<footer class="footer position-absolute bottom-2 py-2 w-100">
      <div class="container">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-12 col-md-6 my-auto">
            <div class="copyright text-center text-sm text-white text-lg-start">
              &copy; <a href="https://github.com/melkimble" class="font-weight-bold text-white" target="_blank">melkimble</a>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <a href="https://github.com/Maine-eDNA/medna-metadata" class="nav-link text-white" target="_blank">Sources</a>
              </li>
              <li class="nav-item">
                <a href="https://umaine.edu/" class="nav-link text-white" target="_blank">UMaine</a>
              </li>
              <li class="nav-item">
                <a href="https://umaine.edu/edna" class="nav-link text-white" target="_blank">Maine-eDNA</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
