{% load html_tags %}

{% block extrahead %} {{ form.media }} {% endblock %}

{% if form.non_field_errors %}
<!-- start non field errors -->
<div class="alert alert-secondary text-white font-weight-bold" role="alert">{{ form.non_field_errors }}</div>
<!-- end non field errors -->
{% endif %}

<form method="post" class="p-3" id="{{ page_title|slugify }}-form" >
    {% csrf_token %}
    <div class="card-header text-center px-4 py-sm-5 py-3">
        <h2>{{ form_header }}</h2>
        <p class="lead"> {{ form_subheader }} </p>
    </div>
    <div class="card-body pt-1">
        {% for field in form %}
        <div class="row">
            {% if field.errors %}
            <div class="alert alert-danger alert-dismissible text-white" role="alert">
                <span class="text-sm">{{ field.label }}: {{ field.errors }}</span>
                <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% if field.help_text %}
            <div class="row">
                <div class="alert alert-info alert-dismissible text-white" role="alert">
                    <span class="text-sm help">{{ field.help_text|safe }}</span>
                    <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}
            {{ field.label_tag }}
            <div class="col-md-12 pe-2 mb-3">
                <div class="input-group input-group-static mb-4">
                    {{ field }}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-6 text-end ms-auto">
                <button type="submit" value="Submit" class="btn bg-gradient-dark w-100">Submit</button>
            </div>
        </div>
    </div>
</form>