{% block extrahead %} {{ filter.form.media }} {% endblock %}

{% load html_tags %}
<!-- START FORM ERRORS -->
{% if filter.form.non_field_errors %}
<div class="alert alert-secondary text-white font-weight-bold" role="alert">{{ filter.form.non_field_errors }}</div>
{% endif %}
<!-- END FORM ERRORS -->
<!-- START FORM -->
<form action="" method="get" class="changelist-form p-3">
  {% csrf_token %}
    <div class="row">
        {% for field in filter.form %}
        <div class="col-md-4">
            {{ field.errors }}
            <label class="text-white text-capitalize" for="{{ field.auto_id }}">{{ field.label }}</label>
            <div class="{% if field.field.widget|field_type == 'CustomRadioSelect' %}form-check form-check-inline{% else %}input-group input-group-outline my-3{% endif %}">
                {{ field }}
            </div>
            {% if field.help_text %}
            <div class="row">
                <p class="help">{{ field.help_text|safe }}</p>
            </div>
            {% endif %}
        </div>
        {% endfor %}

    <div class="col-md-3 text-end ms-auto">
        <button type="submit" value="Submit" class="btn bg-gradient-dark">Submit</button>
    </div>
         </div>
</form>
<!-- END FORM -->