  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="fa fa-filter"></i>
    </a>
    <div class="card shadow-lg bg-dark">
      <div class="card-header bg-dark pb-0 pt-3">
        <div class="float-start">
          <h5 class="mt-3 mb-0 text-white">{{ page_title|title }} Filter</h5>
        </div>
        <div class="float-end mt-4">
          <button class="btn btn-link text-white p-0 fixed-plugin-close-button">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <!-- End Toggle Button -->
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0">
        <!-- START filter -->
        {% if filter %}
        <div id="changelist">
            {% include 'includes/django-material-dashboard/form-filter.html' %}
        </div>
         {% endif %}
        <!-- END filter -->
      </div>
    </div>
  </div>
  