{% load static %}
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" 
         href="/dashboard/" target="_blank">
        <img src="{% static 'assets/img/logo-medna-light.png' %}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Metadata Dashboard</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white {% if 'index' in segment %} active bg-gradient-primary {% endif %}" 
             href="/dashboard/">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        {% if perms.field_site %}
          <!-- begin field site -->
        <div class="accordion" id="accordionFieldSite">

            <div class="card">
              <div class="card-header" id="headingFieldSite">
                <li class="nav-item mt-3">
                <a data-toggle="collapse" href="#collapseFieldSite" role="button" aria-expanded="false" aria-controls="collapseFieldSite">
                  <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Field Sites</h6>
                </a>
                 </li>
              </div>
            </div>

        </div>

        <div id="collapseFieldSite" class="collapse show" aria-labelledby="headingFieldSite" data-parent="#accordionFieldSite">
          <div class="card-body">
            {% if perms.field_site.view_fieldsite %}
            <li class="nav-item">
              <a class="nav-link text-white {% if 'view_fieldsite' in segment %} active bg-gradient-primary {% endif %}" href="{% url 'view_fieldsite' %}">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">table_view</i>
                </div>
                <span class="nav-link-text ms-1">View</span>
              </a>
            </li>
            {% endif %}
            {% if perms.field_site.add_fieldsite %}
            <li class="nav-item">
              <a class="nav-link text-white {% if 'add_fieldsite' in segment %} active bg-gradient-primary {% endif %}" href="{% url 'add_fieldsite' %}">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">add_box</i>
                </div>
                <span class="nav-link-text ms-1">Add</span>
              </a>
            </li>
            {% endif %}
          </div>
        </div>
        <!-- end field site -->
        {% endif %}
        {% if perms.sample_label %}
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Sample Labels</h6>
        </li>
        {% if perms.sample_label.view_samplelabelrequest %}
         <li class="nav-item">
          <a class="nav-link text-white {% if 'view_samplelabelrequest' in segment %} active bg-gradient-primary {% endif %}"
             href="{% url 'view_samplelabelrequest' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">View</span>
          </a>
        </li>
        {% endif %}
        {% if perms.sample_label.add_samplelabelrequest %}
        <li class="nav-item">
          <a class="nav-link text-white {% if 'add_samplelabelrequest' in segment %} active bg-gradient-primary {% endif %}"
             href="{% url 'add_samplelabelrequest' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">add_box</i>
            </div>
            <span class="nav-link-text ms-1">Add</span>
          </a>
        </li>
        {% endif %}
        {% endif %}
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white {% if 'dashboard_profile' in segment %} active bg-gradient-primary {% endif %}"
             href="{% url 'dashboard_profile' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
        {% if user.is_active and user.is_staff %}
        <li class="nav-item">
          <a class="nav-link text-white {% if 'admin' in segment %} active bg-gradient-primary {% endif %}"
             href="{% url 'admin:index' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">admin_panel_settings</i>
            </div>
            <span class="nav-link-text ms-1">Admin</span>
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'logout' %}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">directions_run</i>
            </div>
            <span class="nav-link-text ms-1">Logout</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
      <div class="mx-3">
        <a class="btn bg-gradient-primary mt-4 w-100" 
           target="_blank" 
           href="/" type="button">Main</a>
      </div>
    </div>
  </aside>
  