{% load static %}
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
  <div class="sidenav-header">
    <!-- begin sidebar header -->
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0"
       href="{% url 'dashboard' %}" target="_blank">
      <img src="{% static 'assets/img/logo-medna-light.png' %}" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold text-white">Metadata Dashboard</span>
    </a>
    <!-- end sidebar header -->
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
    {% if perms.field_site %}
    <!-- begin field site -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Field Sites</h6>
      </li>
      {% if perms.field_site.view_fieldsite %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_fieldsite' in segment or 'detail_fieldsite' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_fieldsite' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% endif %}
      {% if perms.field_site.add_fieldsite %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_fieldsite' in segment or 'update_fieldsite' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_fieldsite' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
      {% endif %}
    </ul>
    <!-- end field site -->
    {% endif %}
    {% if perms.sample_label %}
    <!-- begin sample label -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Sample Labels</h6>
      </li>
      {% if perms.sample_label.view_samplelabelrequest %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_samplelabelrequest' in segment or 'detail_samplelabelrequest' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_samplelabelrequest' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% endif %}
      {% if perms.sample_label.add_samplelabelrequest %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_samplelabelrequest' in segment or 'update_samplelabelrequest' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_samplelabelrequest' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
      {% endif %}
    </ul>
    <!-- end sample label -->
    {% endif %}
    {% if perms.field_survey %}
    <!-- begin field collection -->
    <hr class="horizontal light mt-0 mb-2">
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-12">
        <h6 class="text-uppercase text-xs text-white font-weight-bolder opacity-8">Field Collection</h6>
      </li>
    </ul>
    {% if perms.field_survey.view_fieldsurvey %}
    <!-- begin field survey -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Field Survey</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_fieldsurvey' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_fieldsurvey' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
     <!-- end field survey -->
    {% endif %}

    {% if perms.field_survey.view_fieldcrew %}
    <!-- begin field crew -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Field Crew</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_fieldcrew' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_fieldcrew' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
     <!-- end field crew -->
    {% endif %}

    {% if perms.field_survey.view_envmeasurement %}
    <!-- begin env measurement -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Env Measurement</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_envmeasurement' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_envmeasurement' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
     <!-- end env measurement -->
    {% endif %}

    {% if perms.field_survey.view_watercollection %}
    <!-- begin water collection -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Water Collection</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_watercollection' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_watercollection' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
     <!-- end water collection -->
    {% endif %}

    {% if perms.field_survey.view_sedimentcollection %}
    <!-- begin sediment collection -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Sediment Collection</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_sedimentcollection' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_sedimentcollection' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
     <!-- end sediment collection -->
    {% endif %}

    {% if perms.field_survey.view_filtersample %}
    <!-- begin filter sample -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Filter Sample</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_filtersample' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_filtersample' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
    <!-- end filter sample -->
    {% endif %}

    {% if perms.field_survey.view_subcoresample %}
    <!-- begin subcore sample -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">SubCore Sample</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_subcoresample' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_subcoresample' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
    <!-- end subcore sample -->
    {% endif %}

    <!-- end field collection -->
    {% endif %}

    {% if perms.wet_lab %}
    <!-- begin wet lab -->
    <hr class="horizontal light mt-0 mb-2">
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-12">
        <h6 class="text-uppercase text-xs text-white font-weight-bolder opacity-8">Wet Lab</h6>
      </li>
    </ul>
    {% if perms.wet_lab.view_extraction %}
    <!-- begin extraction -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Extraction</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_extraction' in segment or 'detail_extraction' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_extraction' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.wet_lab.add_extraction %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_extraction' in segment or 'update_extraction' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_extraction' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end extraction -->
    {% endif %}
    {% if perms.wet_lab.view_pcr %}
    <!-- begin pcr -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">PCR</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_pcr' in segment or 'detail_pcr' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_pcr' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.wet_lab.add_pcr %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_pcr' in segment or 'update_pcr' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_pcr' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end pcr -->
    {% endif %}
    {% if perms.wet_lab.view_libraryprep %}
    <!-- begin libraryprep -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Library Prep</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_libraryprep' in segment or 'detail_libraryprep' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_libraryprep' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.wet_lab.add_libraryprep %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_libraryprep' in segment or 'update_libraryprep' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_libraryprep' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end libraryprep -->
    {% endif %}
    {% if perms.wet_lab.view_pooledlibrary %}
    <!-- begin pooledlibrary -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Pooled Library</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_pooledlibrary' in segment or 'detail_pooledlibrary' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_pooledlibrary' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.wet_lab.add_pooledlibrary %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_pooledlibrary' in segment or 'update_pooledlibrary' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_pooledlibrary' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end pooledlibrary -->
    {% endif %}
    {% if perms.wet_lab.view_runprep %}
    <!-- begin runprep -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Run Prep</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_runprep' in segment or 'detail_runprep' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_runprep' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.wet_lab.add_runprep %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_runprep' in segment or 'update_runprep' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_runprep' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end runprep -->
    {% endif %}
    {% if perms.wet_lab.view_runresult %}
    <!-- begin runresult -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Run Result</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_runresult' in segment or 'detail_runresult' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_runresult' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.wet_lab.add_runresult %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_runresult' in segment or 'update_runresult' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_runresult' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end runresult -->
    {% endif %}
    {% if perms.wet_lab.view_fastqfile %}
    <!-- begin fastqfile -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">FASTQ File</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_fastqfile' in segment or 'detail_fastqfile' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_fastqfile' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
    <!-- end fastqfile -->
    <!-- begin mixs -->
    <hr class="horizontal light mt-0 mb-2">
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-12">
        <h6 class="text-uppercase text-xs text-white font-weight-bolder opacity-8">FASTQ MIxS</h6>
      </li>
    </ul>
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Water</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_mixswater' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_mixswater' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Sediment</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_mixssediment' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_mixssediment' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
    <!-- end mixs -->
    {% endif %}
    <!-- end wet lab -->
    {% endif %}
    {% if perms.bioinfo %}
    <!-- begin bioinfo -->
    <hr class="horizontal light mt-0 mb-2">
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-12">
        <h6 class="text-uppercase text-xs text-white font-weight-bolder opacity-8">Bioinformatics</h6>
      </li>
    </ul>
    {% if perms.bioinfo.view_qualitymetadata %}
    <!-- begin qualitymetadata -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Quality Metadata</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_qualitymetadata' in segment or 'detail_qualitymetadata' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_qualitymetadata' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.bioinfo.add_qualitymetadata %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_qualitymetadata' in segment or 'update_qualitymetadata' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_qualitymetadata' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end qualitymetadata -->
    {% endif %}
    {% if perms.bioinfo.view_denoiseclustermetadata %}
    <!-- begin denoiseclustermetadata -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Denoise Cluster Metadata</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_denoiseclustermetadata' in segment or 'detail_denoiseclustermetadata' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_denoiseclustermetadata' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.bioinfo.add_denoiseclustermetadata %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_denoiseclustermetadata' in segment or 'update_denoiseclustermetadata' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_denoiseclustermetadata' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end denoiseclustermetadata -->
    {% endif %}
    {% if perms.bioinfo.view_featureoutput %}
    <!-- begin featureoutput -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Feature Output</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_featureoutput' in segment or 'detail_featureoutput' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_featureoutput' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.bioinfo.add_featureoutput %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_featureoutput' in segment or 'update_featureoutput' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_featureoutput' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end featureoutput -->
    {% endif %}
    {% if perms.bioinfo.view_featureread %}
    <!-- begin featureread -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Feature Read</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_featureread' in segment or 'detail_featureread' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_featureread' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.bioinfo.add_featureread %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_featureread' in segment or 'update_featureread' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_featureread' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end featureread -->
    {% endif %}
    {% if perms.bioinfo.view_annotationmetadata %}
    <!-- begin annotationmetadata -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Annotation Metadata</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_annotationmetadata' in segment or 'detail_annotationmetadata' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_annotationmetadata' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.bioinfo.add_annotationmetadata %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_annotationmetadata' in segment or 'update_annotationmetadata' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_annotationmetadata' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end annotationmetadata -->
    {% endif %}
    {% if perms.bioinfo.view_taxonomicannotation %}
    <!-- begin taxonomicannotation -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Taxonomic Annotation</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_taxonomicannotation' in segment or 'detail_taxonomicannotation' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_taxonomicannotation' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.bioinfo.add_taxonomicannotation %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_taxonomicannotation' in segment or 'update_taxonomicannotation' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_taxonomicannotation' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end taxonomicannotation -->
    {% endif %}
    <!-- end bioinfo -->
    {% endif %}
    {% if perms.freezer_inventory %}
    <!-- begin freezer inventory -->
    <hr class="horizontal light mt-0 mb-2">
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-12">
        <h6 class="text-uppercase text-xs text-white font-weight-bolder opacity-8">Freezer Inventory</h6>
      </li>
    </ul>
    {% if perms.freezer_inventory.view_freezerinventory %}
    <!-- begin freezerinventory -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Inventory</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_freezerinventory' in segment or 'detail_freezerinventory' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_freezerinventory' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
      {% if perms.freezer_inventory.add_freezerinventory %}
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'add_freezerinventory' in segment or 'update_freezerinventory' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'add_freezerinventory' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="Add">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">add_box</i>
          </div>
        </a>
      </li>
    {% endif %}
    </ul>
    <!-- end freezerinventory -->
    {% endif %}
    {% if perms.freezer_inventory.view_freezerinventoryreturnmetadata %}
    <!-- begin freezerinventoryreturnmetadata -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Metadata</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_freezerreturnmetadata' in segment or 'detail_freezerreturnmetadata' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_freezerinventoryreturnmetadata' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
    <!-- end freezerinventoryreturnmetadata -->
    {% endif %}
    {% if perms.freezer_inventory.view_freezerinventorylog %}
    <!-- begin freezerinventorylog -->
    <ul class="nav nav-fill p-1" role="tablist">
      <li class="nav-item mt-2 col-8">
        <h6 class="ps-2 ms-2 text-start text-uppercase text-xs text-white font-weight-bolder opacity-8">Log</h6>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link text-white mb-0 px-0 py-1 {% if 'view_freezerlog' in segment or 'detail_freezerlog' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'view_freezerinventorylog' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
        </a>
      </li>
    </ul>
    <!-- end freezerinventorylog -->
    {% endif %}
    <!-- end freezer inventory -->
    {% endif %}
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="sidenav-footer position-absolute w-100 bottom-0 ">
    <!-- begin sidebar footer -->
    <ul class="nav nav-fill p-3">
      <li class="nav-item mt-2 col-4">
        <a class="nav-link text-white {% if 'detail_dashboardprofile' in segment or 'update_dashboardprofile' in segment %} active bg-gradient-primary {% endif %}"
           href="{% url 'detail_dashboardprofile' %}">
          <div class="text-white text-center d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">person</i>
          </div>
          <span class="nav-link-text">Profile</span>
        </a>
      </li>
      {% if user.is_active and user.is_staff %}
      <li class="nav-item mt-2 col-4">
        <a target="_blank" class="nav-link text-white {% if 'admin' in segment %} active bg-gradient-primary {% endif %}" href="{% url 'admin:index' %}">
          <div class="text-white text-center d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">admin_panel_settings</i>
          </div>
          <span class="nav-link-text">Admin</span>
        </a>
      </li>
      {% endif %}
      <li class="nav-item mt-2 col-4">
        <a class="nav-link text-white " href="{% url 'logout' %}">
          <div class="text-white text-center d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">directions_run</i>
          </div>
          <span class="nav-link-text">Logout</span>
        </a>
      </li>
    </ul>
    <div class="mx-3">
      <a class="btn bg-gradient-primary w-100" target="_blank" href="{% url 'home' %}" type="button">Main</a>
    </div>
    <!-- end sidebar footer -->
  </div>
</aside>
  